.parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 2%;
    width: 100%;
    height: 100%;
}

.parent2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    height: calc(100vh - 150px);
    width: 100%;
    padding-bottom: 2.5vh;
    overflow-y: visible;
    overflow-x: visible;
    justify-items: center;
}   

.parent2 > form{
    width: 100%;
    margin-right: 0;
}

.parent3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    height: calc(100vh - 150px);
    width: 100%;
    overflow-y: visible;
    overflow-x: visible;
}    

.myCardSample{
    height: 100%;
    width: 100% !important;
    background-color: var(--background-secondary);
    box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 15px 30px;
    text-align: left !important;
    overflow-x: visible;
}

.myCardSample .card_title{
    font-style: normal;
    font-weight: 500;
    font-size: 17.2741px;
}


.myCardSample select{
    /* width: 372px; */
    height: 52px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.28);
}
.myCardSampleHome{
    height: 100%;
    width: 100% !important;
    background-color: var(--background-secondary);
    box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 30px;
    text-align: left !important;
    overflow: scroll;
    overflow-x: visible;
}

.myCardSampleHome .card_title{
    font-style: normal;
    font-weight: 500;
    font-size: 17.2741px;
}


.myCardSampleHome select{
    width: 70%;
    height: 50px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.28);
}



.myCardSampleHover{
    height: 100%;
    /* width: 458px !important; */
    background-color: var(--background-secondary);
    box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    text-align: left !important;
    overflow: scroll;
    overflow-x: visible;
    
}
.myCardSampleHover:hover{
    cursor: pointer;
    scale: 1.02;
    transition: 0.2s;
}

.card_title span:last-child,.card_title span:first-child{
    font-weight: 500;
    font-size: 24px;
line-height: 36px;
text-transform: capitalize;
color: var(--second);
text-shadow: 0px 4px 10px rgba(120, 62, 253, 0.15);
margin: 0 10px;
}
.card_title span:first-child{
    margin-left: 0 !important;
}
.card_title span:first-child{
    color: var(--foreground-primary);
}



.table{
    height: 80%;
    /* background-color: #FFFFFF; */
    /* margin-bottom: 200px; */
    overflow-y: scroll;
}
.table :hover{
    cursor: default;
}

.parent2 table{
    width: 100%;
	font-size: 0.95em;
}


.parent2 table thead th{
	color: #e24a08 !important;
	font-size: 1em !important;
}

.parent2 table th:first-child, .parent2 table td:first-child{
	padding-left: 25px;
}

.parent2 table th:last-child, .parent2 table td:last-child{
	padding-right: 25px;
}

.parent2 table td{
	/* padding: 25px 0; */
	color: #292D32;
	font-size: 1.1em !important;
}

.parent2 table tbody td{
    cursor: pointer;
}

.parent2 table tbody tr:hover td{
    background-color: rgba(0, 0, 0, 0.15);
}
.parent3 table{
    width: 100%;
	font-size: 0.95em;
}


.parent3 table thead th{
	color: #e24a08 !important;
	font-size: 1em !important;
}

.parent3 table th:first-child, .parent3 table td:first-child{
	padding-left: 25px;
}

.parent3 table th:last-child, .parent3 table td:last-child{
	padding-right: 25px;
}

.parent3 table td{
	/* padding: 25px 0; */
	color: #292D32;
	font-size: 1.1em !important;
}

.parent3 table tbody td{
    cursor: pointer;
}

.parent3 table tbody tr:hover td{
    background-color: rgba(0, 0, 0, 0.15);
}


.Box123{

    width: 384px;
    height: 62px;
    padding: 10px;
    background: #84587C;
    border-radius: 14px;
    margin-top: 4%;
    padding:15px;
    color:#ffffff;
}

.Line{
    position: relative;
}
.Line:after {
    content: '';
    position: absolute;
    right: 0;
    border-right: 2px solid #ffffff;
    top: 12%;
    bottom: 12%;
    
}

.LI_TAG{
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
}


.Scroll{
    overflow: scroll;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 90%;
}

.Scroll1{
    overflow: scroll;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 70%;
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .parent{
        grid-template-columns: 1fr;
        font-size: 0.9em;
        grid-row-gap: 2.75vh;
    }

    .parent3{
        max-width: 70vw;
        height: max-content;
        grid-template-rows: auto 1fr;
    }

    .parent3 select, .parent2 select{
        font-size: 0.9em !important;
        height: 3.25em;
        padding: 0.5em 1.5em;
        text-overflow: ellipsis;
        margin-top: 0;
    }

    .parent2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        max-width: 70vw;
        height: max-content;
    }

    .parent2 .card_title{
        font-size: 1em;
    }

    .parent2 .card_title button{
        font-size: 1.5em;
    }

    .parent2 > form{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        grid-area: 1 / 1 / 2 / 3;
    }

    .parent2 > form > div{
        width: 100% !important;
    }

    .parent2 table{
        text-align: center;
    }

    .parent2 table td:first-child, .parent2 table th:first-child{
        padding-left: 0;
    }

    .parent2 table td:last-child, .parent2 table th:last-child{
        padding-right: 0;
    }
}