.parent2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 90px;
  grid-row-gap: 0px;
  width: 50%;
  padding-top: 50px;
  margin-left:25%
}


.Schedule_container2{
  width: 100%;
  height: 90%;
  border-radius: 25px;
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  margin-top:2%;
  /* box-shadow: 200px ; */
  box-shadow: 0px 8px 45px 10px rgba(0,0,0,0.2);
}
.Schedule_header2{
  height: 15vh;
  background: linear-gradient(180deg, #84587C 0%, #BA8BB1 100%);
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vh;
  width: 100%;
}


.Schedule_header2 h4{
  margin-bottom: 0 !important;
  color: white !important;
  font-size:22px ;
}

.submitBtn3{
  margin-top: 30px;
  margin-left: 54%;
  background-color: #F56A3F;
  color: white;
  margin-bottom: -2%;
  padding: 10px;
  border-radius: 15px;
  width: 5%;
}


.Assigned_Engineer_Tr {
  box-sizing: border-box;
  width: 60%;
  padding: 7.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587C;
  font-family: 'Nunito Sans';
  outline: none;
}


.Schedule_FLC_table{
  width: 100%;
  padding: .75em 1.5em;
  background-color: #B5B7C01A;
  border-radius: 15px;
  overflow: scroll;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100%;
}

.Schedule_FLC_table > div > div{
  padding-bottom: .5em !important;
}

.Schedule_FLC_table table{
  width: 100%;
}

.Schedule_FLC_table table th{
  color: #00000080 !important;
  font-weight: 400 !important;
  padding: .5em 0;
}

.Schedule_FLC_table table td{
  color: #000000B2 !important;
  font-weight: 500 !important;
  padding: .5em 0;
}


.Schedule_container{
  /* height: 50%; */
  width: 100%;
  max-height: 100%;
  border-radius: 25px;
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  /* box-shadow: 200px ; */
  box-shadow: 0px 8px 45px 10px rgba(0,0,0,0.2);
}

.Schedule_header{
  height: 10vh;
  background: linear-gradient(180deg, #84587C 0%, #BA8BB1 100%);
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vh;
  width: 100%;
}
.Schedule_header h4{
  margin-bottom: 0 !important;
  color: white !important;
}
.parent {
  /* padding-top: 15px; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,0.5fr);
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}
.parent p{ 
  display: flex;
  padding-bottom: 10px;
}

.div1 { 
  grid-area: 1 / 1 / 2 / 2;
  margin: 5% 15%;
  
}

.div2 { 
  
  grid-area: 1 / 2 / 2 / 3;
  margin: 5% 15%;
}
.div3 { 
  
  grid-area: 1 / 3 / 2 / 4;
  margin: 5% 15%;
}
.div4 { 
  grid-area: 2 / 1 / 3 / 2; 
  margin: 5% 15%;
}
.div5 { 
  grid-area: 2 / 2 / 3 / 3; 
  margin: 5% 15%;
}
.div6 { 
  grid-area: 2 / 3 / 3 / 4;
  margin: 5% 15%;
}
.div7 { 
  grid-area: 3 / 1 / 4 / 2;
  margin: 5% 15%;
}
.div8 { 
  grid-area: 3 / 2 / 4 / 3;
  margin: 5% 15%;
}
.div9 { 
  grid-area: 3 / 3 / 4 / 4;
  margin: 5% 15%;
}
.div10 { 
  grid-area: 4 / 1 / 5 / 2;
  margin: 5% 15%;
}
.div11 { 
  grid-area: 4 / 2 / 5 / 3;
  margin: 5% 15%;
}
.div12 { 
  grid-area: 4 / 3 / 5 / 4;
  margin: 5% 15%;
}
.submitBtn{
  margin-top:30px;
  background-color: #F56A3F;
  color: white
}

.ScheduleButton{
  margin-bottom:0.5%;
  background-color: #F56A3F;
  color: white;
  margin-left:90%;
}

.backbutton{
  margin-bottom:0.5%;
  background-color: #F56A3F;
  color: white;
  margin-right:95%;
  padding: 15px;
  background: #84587C;
}

.editBtn{
  color: white;
}


::-webkit-datetime-edit { padding: 1em; }
/* ::-webkit-datetime-edit-fields-wrapper { background: silver; } */
/* ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; } */
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {
  margin-right: 1px;
 cursor: pointer;
  color: orange;
  padding-right: 20px;
  /* width: 100%; */


}
input[type="number"],input[type="email"],input[type="text"]{
  box-sizing: border-box;
  width: 100%;
  padding: 12.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587C;
  font-family: 'Nunito Sans';
  outline: none;
}
input[type="date"]{
  box-sizing: border-box;
  width: 100%;
  /* padding: 12.5px 10px; */
  border-radius: var(--border-radius);
  border: 2px solid #84587C;
  font-family: 'Nunito Sans';
  outline: none; 
}
/* -webkit-box-shadow:{ 0px 8px 45px 10px rgba(0,0,0,0.75)}; */
/* -moz-box-shadow: 0px 8px 45px 10px rgba(0,0,0,0.75); */
