.Schedule_container1 {
  width: 100%;
  max-height: 70%;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  box-shadow: 0px 8px 45px 10px rgba(0, 0, 0, 0.2);
}

.Schedule_header1 {
  height: 10vh;
  background: linear-gradient(180deg, #84587c 0%, #ba8bb1 100%);
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vh;
  width: 100%;
}
.Schedule_header1 h4 {
  margin-bottom: 0 !important;
  color: white !important;
}

.Schedule_container2 {
  width: 100%;
  height: 90%;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  /* box-shadow: 200px ; */
  box-shadow: 0px 8px 45px 10px rgba(0, 0, 0, 0.2);
}
.Schedule_header2 {
  height: 10vh;
  background: linear-gradient(180deg, #84587c 0%, #ba8bb1 100%);
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vh;
  width: 100%;
}
.Schedule_header2 h4 {
  margin-bottom: 0 !important;
  color: white !important;
  font-size: 22px;
}
.parent1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.51fr 0.5fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.parent1 p {
  display: flex;
  padding-bottom: 10px;
}

.parent2 {
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 90px;
  grid-row-gap: 0px;
  width: 50%;
  padding-top: 50px;
  margin-left: 25%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 5% 15%;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  margin: 5% 15%;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  margin: 5% 15%;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
  margin: 5% 15%;
}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
  margin: 5% 15%;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
  margin: 5% 15%;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
  margin: 5% 15%;
}

.div8 {
  grid-area: 3 / 2 / 4 / 3;
  margin: 5% 15%;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
  margin: 5% 15%;
}
.div10 {
  grid-area: 4 / 1 / 5 / 2;
  margin: 5% 15%;
}



.submitBtn1 {
  margin-top: 30px;
  background-color: #f56a3f;
  color: white;
}

.submitBtn2 {
  margin-top: 30px;
  margin-left: 20%;
  background-color: #f56a3f;
  color: white;
}

::-webkit-datetime-edit {
  padding: 1em;
}
/* ::-webkit-datetime-edit-fields-wrapper { background: silver; } */
/* ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; } */
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  margin-right: 1px;
  cursor: pointer;
  color: orange;
  padding-right: 20px;
  /* width: 100%; */
}

.Assigned_Engineer_Tr {
  box-sizing: border-box;
  width: 60%;
  padding: 7.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}

.parent input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  padding: 12.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}

.numberdiv{
  box-sizing: border-box;
  width: 100%;
  padding: 12.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}

.parent input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  padding: 12.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}

.parent input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 12.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}

.parent input[type="date"] {
  box-sizing: border-box;
  width: 100%;
  /* padding: 12.5px 10px; */
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}

.Schedule_CDP_table {
  width: 100%;
  padding: 0.75em 1.5em;
  background-color: #b5b7c01a;
  border-radius: 15px;
  overflow: scroll;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100%;
}

.Schedule_CDP_table > div > div {
  padding-bottom: 0.5em !important;
}

.Schedule_CDP_table table {
  width: 100%;
}

.Schedule_CDP_table table th {
  color: #00000080 !important;
  font-weight: 400 !important;
  padding: 0.5em 0;
}

.Schedule_CDP_table table td {
  color: #000000b2 !important;
  font-weight: 500 !important;
  padding: 0.5em 0;
}
