.Schedule_container {
  /* height: 50%; */
  width: 100%;
  max-height: 100%;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  /* box-shadow: 200px ; */
  box-shadow: 0px 8px 45px 10px rgba(0, 0, 0, 0.2);
}

.Schedule_header {
  height: 10vh;
  background: linear-gradient(180deg, #84587c 0%, #ba8bb1 100%);
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vh;
  width: 100%;
}

.Schedule_header h4 {
  margin-bottom: 0 !important;
  color: white !important;
}

.parent {
  /* padding-top: 15px; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.51fr 0.5fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}
.parent p {
  display: flex;
  padding-bottom: 10px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 5% 15%;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  margin: 5% 15%;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
  margin: 5% 15%;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
  margin: 5% 15%;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
  margin: 5% 15%;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
  margin: 5% 15%;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
  margin: 5% 15%;
}

.div8 {
  grid-area: 3 / 2 / 4 / 3;
  margin: 5% 15%;
  width: 176%;
}

.submitBtn {
  margin-top: 30px;
  background-color: #f56a3f;
  color: white;
}

.mySubmit {
  position: relative;
  padding: 7.5px 30px !important;
  background: #f56a3f !important;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 5px;
  border-radius: 10px;
  margin-top: 2%;
}

.mySubmit span {
  margin-left: 5px;
}

.mySubmit:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

::-webkit-datetime-edit {
  padding: 1em;
}
/* ::-webkit-datetime-edit-fields-wrapper { background: silver; } */
/* ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; } */
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  margin-right: 1px;
  cursor: pointer;
  color: orange;
  padding-right: 20px;
  /* width: 100%; */
}
.parent input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  padding: 12.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}
.parent input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 12.5px 10px;
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}

.parent input[type="date"] {
  box-sizing: border-box;
  width: 100%;
  /* padding: 12.5px 10px; */
  border-radius: var(--border-radius);
  border: 2px solid #84587c;
  font-family: "Nunito Sans";
  outline: none;
}
/* -webkit-box-shadow:{ 0px 8px 45px 10px rgba(0,0,0,0.75)}; */
/* -moz-box-shadow: 0px 8px 45px 10px rgba(0,0,0,0.75); */
