.tableLoader {
	width: 100%;
	height: 4px;
	display: inline-block;
	position: relative;
	background: rgba(0, 0, 0, 0.05);
	overflow: hidden;
}

.tableLoader::after {
	content: '';
	width: 2.5vw;
	height: 4px;
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	animation: animloader 2s linear infinite;
}
@keyframes animloader {
	0% {
		left: 0;
		transform: translateX(-100%);
		width: 5vw;
	}

	25%{
		width: 10vw;
	}

	100% {
		left: 100%;
		transform: translateX(0%);
		width: 2.5vw;
	}
}


.circleLoader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	background: linear-gradient(0deg, #B5B7C0 33%, #84587C 100%);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  }
  .circleLoader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #263238;
  }
  @keyframes rotation {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg)}
  } 